*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #ffb750;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background: #fc4a1a;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(40, 92%, 58%, 0.637), hsla(13, 97%, 55%, 0.61)), url(img/portada.jpg);   
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(40, 92%, 58%, 0.637), hsla(13, 97%, 55%, 0.61)), url(img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 60px;
    color: #fff;
    font-weight: bolder;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* INICIO */

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-sobre-nosotros{
    width: 48%;   
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #ffb750;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    line-height : 25px;
}

    /* Reseñas */

    .testimony-container{
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    .testimony__grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .testimony__item{
        width: 95%;
        margin: 0 auto;
        background: #ffb750;
        box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
        border-radius: 7px;
        padding: 30px 25px;
        color: #fff;
        margin-bottom: 50px;
    }

    .testimony__person{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .testimony__img{
        width: 100px;
        min-width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-right: 30px;
    }

    .testimony__name{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .testimony__review{
        font-weight: 300;
    }

/* LIBROS */

.galeria-libros{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.libros{
    margin-bottom: 100px;
    margin-left: 100px;
}

.imagen-libro{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imagen-libro > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

img{
    width: 200px;
    height: 300px;
}

.content-libros .genero{
    text-align: center;
}

.contenedor-libros h4{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    color:#DC7E00;
}

.texto-libros{
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
}

.content-libros{
    background: #E3E3E3;
}

.content-book{
    display: flex;
    justify-content: space-evenly;
}

.portada-libro{
    height: 20%;  
}

.contenido-textos{
    width: 48%;
}

/* COLABORADORES */

.contenedor-colaboradores{
    display: flex;
    justify-content: space-evenly;
}

.imagen-colaboradores{
    width: 48%;  
    margin-bottom: 50px; 
}

.form-colaboradores{
    width: 450px;
    background: #FFB750;
    padding: 30px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px #000;
}

.form-colaboradores h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.form-colaboradores .foto-form{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-colaboradores .foto-form p{
    text-align: left;
}

.form-colaboradores .provincias{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-colaboradores .provincias p{
    text-align: left;
}

.controls{
    width: 100%;
    background: #FDD090;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}

.form-colaboradores p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

.form-colaboradores .boton:hover{
    color: white;
    text-decoration: underline;
}

.form-colaboradores .boton{
    width: 100%;
    background: #B0AEA8;
    padding: 12px;
    border: 1px solid #4A4A4A;
    color:black;
    margin: 16px 0;
    font-size: 16px;
}

.empresas-colaboradoras{
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.galeria-colab{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.imagen-colab{
    width: 25%;
    margin-bottom: 10px;
}

.imagen-colab > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
}

/* VOTACIONES */

.boton-votacion{
    width: 79%;
    background: green;
    padding: 12px;
    border: 1px solid green;
    color:white;
    margin: 16px 0;
    font-size: 14px;
}

.like{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* SOPORTE */

.form-consulta{
    width: 450px;
    background: #FFB750;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 4px;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px #000;
}

.form-consulta h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #FDD090;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}

.form-consulta p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-consulta a:hover{
    color: black;
    text-decoration: underline;
}

.form-consulta .boton{
    width: 100%;
    background: #4A4A4A;
    padding: 12px;
    border: 1px solid #4A4A4A;
    color:white;
    margin: 16px 0;
    font-size: 16px;
}

.plazo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.plazo h5{
    font-size: 16px;
    text-align: center;
}

/* REGISTRO */

.form-registro{
    width: 450px;
    background: #FFB750;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 4px;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px #000;
}

.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background: #FDD090;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-registro a:hover{
    color: black;
    text-decoration: underline;
}

.form-registro .boton{
    width: 100%;
    background: #4A4A4A;
    padding: 12px;
    border: 1px solid #4A4A4A;
    color:white;
    margin: 16px 0;
    font-size: 16px;
}

/* FOOTER */

footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-datos{
    margin-top: 10px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}